@model IEnumerable<BuscaBook.Models.Livro>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-12">
        <h1>Catálogo</h1>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="mb-2">
        <a asp-action="Create" class="btn btn-success">Adicionar novo livro</a>
    </div>
}



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 me-2 card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Autor)</h6>
                    <span>Tipo: @Html.DisplayFor(modelItem => item.Tipo)</span> <br>
                    <span>Localização: @Html.DisplayFor(modelItem => item.Localizacao)</span> <br>
                    <span>Publicado em: @Html.DisplayFor(modelItem => item.AnoPublicacao)</span> <br>
                    <span>Reservado: @Html.DisplayFor(modelItem => item.Reservado)</span> <br>
                    <span>Alugado: @Html.DisplayFor(modelItem => item.Alugado)</span> <br>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="mt-4">
                            <a asp-action="Edit" asp-route-id="@item.LivroId" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.LivroId" class="btn btn-dark">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.LivroId" class="btn btn-danger">Apagar</a>
                        </div>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Details" asp-route-id="@item.LivroId" class="btn btn-dark mt-4">Detalhes</a>
                    }
                </div>
            </div>
        }
    </div>
</div>





