@model IEnumerable<BuscaBook.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Catálogo</h1>

<p>
    <a asp-action="Create">Adicionar novo livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPaginas)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LivroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LivroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LivroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
